@page
@model VeterinaryClinicSystem.Pages.Pets.IndexModel
@{
    ViewData["Title"] = "Pet List";
}

<h1>Danh sách thú cưng</h1>

 @*  <p>
      <a asp-page="Create" class="btn btn-primary">Create New Pet</a>
  </p> *@

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Giống loài</th>
            <th>Giống</th>
            <th>Giới tính</th>
            <th>Cân nặng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pets)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Species</td>
                <td>@item.Breed</td>
                <td>@item.Gender</td>
                <td>@item.Weight</td>
                <td>
                    <a asp-page="Details" asp-route-id="@item.PetId">Chi tiết</a> |
                    <a asp-page="Edit" asp-route-id="@item.PetId">Sửa</a> |
                    <a asp-page="Delete" asp-route-id="@item.PetId">Xóa</a>
                    <a asp-page="/MedicalRecords/Create" asp-route-petId="@item.PetId">Tạo hồ sơ</a>
                </td>
            </tr>
        }
    </tbody>
</table>